.App {
  margin: 0 auto;
  max-width: 500px;
}

@media screen and (max-width: 520px) {
  /*　画面サイズが520pxからはここを読み込む　*/
  .App {
    margin: 0 20px;
  }
}

.App ul {
  margin: 10px auto;
}

.App ul li {
  padding-left: 0;
  display: flex;
  align-items: center;
}

.App ul .MuiDivider-inset {
  margin-left: 57px;
}

.App ul li .MuiListItemAvatar-alignItemsFlexStart {
  margin-top: 0;
}
